.fc-day.fc-widget-content.fc-sun {
	background: #FFEA00;
}

.fc-day.fc-widget-content.fc-sat {
	background: #FFEA00;
}

.fc-day.fc-widget-content.fc-mon{
	background: #00C853;
}

.fc-day.fc-widget-content.fc-tue{
	background: #00C853;
}

.fc-day.fc-widget-content.fc-wed{
	background: #00C853;
}

.fc-day.fc-widget-content.fc-thu{
	background: #00C853;
}

.fc-day.fc-widget-content.fc-fri{
	background: #00C853;
}